<%= form_for(@nuevo) do |f| %>
  <% if @nuevo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nuevo.errors.count, "error") %> prohibited this nuevo from being saved:</h2>

      <ul>
      <% @nuevo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name_user %><br>
    <%= f.text_field :Name_user %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Message %><br>
    <%= f.text_area :Message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
